* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    /* margin: 100px 520px 70px 30px; */
    /* text-transform: uppercase;
    text-decoration: dashed; */
}

h1 strong {
    color: rgb(96, 173, 218);
}

.header {
    background-color: rgb(23, 59, 88);
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.menu {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.header a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    height: inherit;
    padding: 0 10px;
    margin: 0 5px;
}

.logo {
    display: flex;
    align-items: center;
    margin: 10px;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hero {
    height: 300px;
    /* background-image: url('../assets/img/juntos.jpg'); */
    background-color: rgb(32, 72, 105);
    /* background-size: 500px 300px; */
    /* background-repeat: no-repeat; */
    background-position-x: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image {
    object-fit: cover;
}

.hero h1 {
    padding: 50px;
}

.portfolio {
    padding: 30px;
    background-color: rgb(240, 240, 240);
}

.portfolio h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(48, 130, 195);
    margin-bottom: 20px;
}

.project {
    /* color: skyblue; */
    /* border-top: 10px solid red;
    border-right: 10px solid violet;
    border-left: 10px solid indigo;
    border-bottom: 10px solid seagreen; */
    /* border-top-color: red;
    border-width: 10px;
    border-style: solid; */
    color: black;
    background-color: white;
    border: 3px solid rgb(96, 173, 218);
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-top-left-radius: 50px; */
}

.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-course {
    margin: 10px 0;
}

.project-date {
    margin: 10px 0;
}

.project-url {
    margin: 10px 0;
}

.project-description {
    font-size: 15px;
}

.project-details {
    width: 700px;
}

.project-details strong {
    font-family: 'Fjalla One', sans-serif;
}

.project-imageContainer {
    width: 500px;
}

.footer {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    padding: 30px;
    background-color: rgb(23, 59, 88);
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img {
    vertical-align: middle;
}

.experiencie-section {
    background-color: rgb(240, 240, 240);
    margin: 0;
}

.title-section-event {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(48, 130, 195);
    padding-bottom: 20px;
    /* margin: 20px 0; */
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
    background-color: rgb(240, 240, 240);
}

.event {
    border-radius: 20px;
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    overflow: hidden;
    background-color: rgb(99, 131, 153);
}

.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail {
    border-radius: 10px;
    background-color: white;
    margin: 20px 40px;
    margin-top: -40px;
    width: 400px;
    padding: 20px;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.event-title {
    margin: 20px;
}

.event-description {
    text-align: left;
    margin: 20px 0;
}

.event-url {
    font-weight: bold;
    border: 2px solid rgb(46, 146, 204);
    text-decoration: none;
    color: rgb(46, 146, 204);
    border-radius: 10px;
    padding: 10px 20px;
}

.contact {
    background-color: rgb(32, 72, 105);
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social {
    margin: 0 20px;
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 10px;
}

.social-link.twitter {
    background-image: url('../assets/img/twitter.svg');
}

.social-link.facebook {
    background-image: url('../assets/img/facebook.svg');
}

.social-link.github {
    background-image: url('../assets/img/github.svg');
}

.social-link.linkedin {
    background-image: url('../assets/img/linkedin.svg');
}

.form-email {
    padding: 20px;
}

.form-email input {
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    padding: 5px 20px 5px 25px;
    background-image: url('../assets/img/envelop.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    display: block;
    margin-top: 10px;
    background: transparent;
    border-radius: 5px;
    color: white;
    padding: 10px 0px;
    width: 100px;
    margin-top: 10px;
    border-style: solid;
}

.form-email h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
}

.container {
    width: 1100px;
    margin: 0 auto;
    height: inherit;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    flex-wrap: inherit;
}