@font-face {
    font-family: 'icomoon';
    src: url('../assets/fonts/icomoon.eot?7p7wru');
    src: url('../assets/fonts/icomoon.eot?7p7wru#iefix') format('embedded-opentype'), url('../assets/fonts/icomoon.ttf?7p7wru') format('truetype'), url('../assets/fonts/icomoon.woff?7p7wru') format('woff'), url('fonts/icomoon.svg?7p7wru#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e9bd";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(240, 240, 240);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    /* margin: 100px 520px 70px 30px; */
    /* text-transform: uppercase;
    text-decoration: dashed; */
}

h1 strong {
    color: rgb(96, 173, 218);
}

.header {
    background-color: rgb(23, 59, 88);
    box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 4;
}

.menu {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.header a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    height: inherit;
    padding: 0 10px;
    margin: 0 5px;
}

.logo {
    /* display: flex; */
    align-items: center;
    /* margin: 10px; */
    flex-wrap: wrap;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hero {
    height: 300px;
    /* background-image: url('../assets/img/juntos.jpg'); */
    background-color: rgb(32, 72, 105);
    /* background-size: 500px 300px; */
    /* background-repeat: no-repeat; */
    background-position-x: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
}

.hero-image {
    object-fit: cover;
}

.hero h1 {
    padding: 50px;
}

.portfolio {
    padding: 30px;
    background-color: rgb(240, 240, 240);
}

.portfolio h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(48, 130, 195);
    margin-bottom: 20px;
}

.project {
    /* color: skyblue; */
    /* border-top: 10px solid red;
    border-right: 10px solid violet;
    border-left: 10px solid indigo;
    border-bottom: 10px solid seagreen; */
    /* border-top-color: red;
    border-width: 10px;
    border-style: solid; */
    color: black;
    background-color: white;
    border: 3px solid rgb(96, 173, 218);
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    /* padding-top: 0px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border-top-left-radius: 50px; */
}

.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-course {
    margin: 10px 0;
}

.project-date {
    margin: 10px 0;
}

.project-url {
    margin: 10px 0;
}

.project-description {
    font-size: 15px;
}

.project-details {
    width: 50%;
}

.project-details strong {
    font-family: 'Fjalla One', sans-serif;
}

.project-imageContainer {
    width: 50%;
}

.project-imageContainer img {
    max-width: 100%;
}

.footer {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    /* padding: 30px; */
    background-color: rgb(23, 59, 88);
    box-shadow: 0px -5px 5px -1px rgba(0, 0, 0, 0.27);
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer img {
    vertical-align: middle;
}

.experiencie-section {
    background-color: rgb(240, 240, 240);
    margin: 0;
}

.title-section-event {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(48, 130, 195);
    padding-bottom: 20px;
    /* margin: 20px 0; */
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
    background-color: rgb(240, 240, 240);
}

.event {
    border-radius: 20px;
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    overflow: hidden;
    background-color: rgb(99, 131, 153);
}

.event img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.event-detail {
    border-radius: 10px;
    background-color: white;
    margin: 20px 40px;
    margin-top: -40px;
    /* width: 400px; */
    padding: 20px;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.event-title {
    margin: 20px;
}

.event-description {
    text-align: left;
    margin: 20px 0;
}

.event-url {
    font-weight: bold;
    border: 2px solid rgb(46, 146, 204);
    text-decoration: none;
    color: rgb(46, 146, 204);
    border-radius: 10px;
    padding: 10px 20px;
}

.contact {
    background-color: rgb(32, 72, 105);
    color: white;
    height: 155px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social {
    margin: 0 20px;
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 10px;
}

.social-link.twitter {
    background-image: url('../assets/img/twitter.svg');
}

.social-link.facebook {
    background-image: url('../assets/img/facebook.svg');
}

.social-link.github {
    background-image: url('../assets/img/github.svg');
}

.social-link.linkedin {
    background-image: url('../assets/img/linkedin.svg');
}

.form-email {
    padding: 20px;
}

.form-email input {
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    padding: 5px 20px 5px 25px;
    background-image: url('../assets/img/envelop.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    display: block;
    margin-top: 10px;
    background: transparent;
    border-radius: 5px;
    color: white;
    padding: 10px 0px;
    width: 100px;
    margin-top: 10px;
    border-style: solid;
}

.form-email h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
}

.container {
    max-width: 1100px;
    /* width: 100%; */
    flex: 1;
    margin: 0 auto;
    height: inherit;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    flex-wrap: inherit;
}

.html-video {
    width: 100%;
    height: auto;
}

.youtube-video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.flexible-video {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.burger-buttom {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(23, 59, 88);
    display: none;
    line-height: 40px;
    text-align: center;
    color: white;
    position: fixed;
    z-index: 5;
    left: 5px;
    top: 10px;
    cursor: pointer;
}


/* desktop first */

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 1em;
    }
    .hero {
        height: auto;
        position: relative;
        overflow: hidden;
    }
    .hero h1 {
        font-size: 2em;
        z-index: 2;
    }
    .hero-image {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    .event-list {
        padding: 0 1.2em;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 767px) {
    .hero {
        height: auto;
        position: relative;
    }
    .hero h1 {
        font-size: 2em;
        z-index: 2;
    }
    .hero-image {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .header {
        display: block;
        height: auto;
    }
    .header ol {
        display: block;
    }
    .header ol li {
        height: 50px;
        text-align: center;
    }
    .header a {
        justify-content: center;
        height: 40px;
        font-size: 1.5em;
        text-decoration: underline;
    }
    .header .logo {
        text-align: center;
        padding: 10px 0;
    }
    .menu {
        position: fixed;
        background: rgba(16, 41, 61, 0.603);
        z-index: 1;
        left: -100vw;
        top: 0;
        bottom: 0;
        width: 100vw;
        /* height: 100vw; */
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }
    .menu.is-active {
        left: 0;
    }
    .project {
        display: block;
    }
    .project-course,
    .project-date,
    .project-url {
        margin: .3em 0;
    }
    .project-imageContainer {
        width: auto;
        text-align: center;
    }
    .project-details {
        width: auto;
        /* font-size: 16px; */
    }
    .project-title {
        font-size: 1.5em;
        margin-bottom: .3em;
    }
    .project-url {
        font-size: 1em;
    }
    .project-course {
        font-size: .7em;
    }
    .project-date {
        font-size: 1em;
    }
    .project-description {
        font-size: .8em;
    }
    .event {
        width: auto;
        flex-shrink: initial;
    }
    .event img {
        width: 100%;
    }
    .event-detail {
        margin: -40px 20px 20px 20px;
        padding: 1em;
        /* width: 100%s; */
    }
    .burger-buttom {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .hero h1 {
        font-size: 1.5em;
    }
    .project-details {
        font-size: 12px;
    }
    .contact {
        display: block;
        height: auto;
        padding: 1.5em 0;
        text-align: center;
    }
    .form-email button {
        margin: 1em auto;
    }
    .footer {
        display: block;
        text-align: center;
        height: auto;
        padding: 1em 1em;
    }
    .social {
        text-align: center;
    }
    .event {
        margin: 3%;
    }
}

@media screen and (max-width: 320px) {
    .hero h1 {
        font-size: 1.3em;
        padding: 2em 1em;
    }
}